<div id="edit_order" class="col-md-12 col-sm-12 col-xs-12">
  <h1 class="col-md-5 col-md-offset-3 col-sm-7 col-sm-offset-2 col-xs-10">Editing Order</h1>
  <%= link_to 'Back', orders_path, class:'btn btn-primary btn-md col-md-1 col-sm-1 col-xs-2', style: 'margin-top: 25px;' %>
  <%= render 'form' %>
</div>
