<div id="new_order" class="depot_form col-md-12 col-sm-12 col-xs-12">
  <h1 class="col-md-5 col-md-offset-3 col-sm-7 col-sm-offset-2 col-xs-10">New Order</h1>
  <%= link_to 'Back', store_path, class:'btn btn-primary btn-md col-md-1 col-sm-1 col-xs-2', style: 'margin-top: 25px; margin-left: -10px;' %>
  <%= render 'form' %>
</div>
